numpy==2.3.1
tensorboard==2.19.0
tokenizers==0.21.2
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
tqdm==4.67.1
huggingface-hub==0.33.2
datasets==3.6.0
faiss-cpu~=1.11.0
pillow~=11.2.1
matplotlib~=3.10.3
pandas~=2.3.0